.container {
    display: flex;
    height: 100vh;
    border: 10px solid goldenrod;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 1;
    /*
        This property, when applied on flex items, the available width is distributed among each flex items evenly
    */
}

.box1 { background: #1abc9c; }
.box2 { background: #3498db; }
.box3 { background: #9b59b6; }
.box4 { background: #34495e; }
.box5 { background: #fec40f; }
.box6 { background: #e67e22; }
.box7 { background: #e74c3c; }
.box8 { background: #bdc3c7; }
.box9 { background: #2ecc71; }
.box10 { background: #16a085; }

.box3 {
    order: 1
}

.box7 {
    order: 2;
}

.box9 {
    order: -1;
}

/*
    order: (not flex-order)

    order property, when applied on flex items, provides a mechanism to change the order of rendering for dom elements without manipulation dom
    default value for any element, it is 0
    accepts positive as well as negative value, decimal values are ignored
    remember, value of order shows logical order of elemtns not the index of dom element in the dom-tree
*/