.flex-start {
    display: flex;
    justify-content: flex-start;
    border: 10px solid goldenrod;
    /*
        This is the the default valuse for justify-content
        by default flex items are palced on flex-start
    */
}

.title {
    display: flex;
    font-size: 24px;
    justify-content: center;
    border: 5px solid mistyrose;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    border: 10px solid goldenrod;
}

.center {
    display: flex;
    justify-content: center;
    border: 10px solid goldenrod;
}

.space-around {
    display: flex;
    justify-content: space-around;
    border: 10px solid goldenrod;
}

.space-between {
    display: flex;
    justify-content: space-between;
    border: 10px solid goldenrod;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1 { background: #1abc9c; }
.box2 { background: #3498db; }
.box3 { background: #9b59b6; }
.box4 { background: #34495e; }
.box5 { background: #fec40f; }
.box6 { background: #e67e22; }
.box7 { background: #e74c3c; }
.box8 { background: #bdc3c7; }
.box9 { background: #2ecc71; }
.box10 { background: #16a085; }